<div data-bsi-element="text-quote-block" style="background-color: #402785;">
  <table border="0"
    cellpadding="0"
    cellspacing="0"
    align="center"
    width="100%">
    <tbody>
      <tr>
        <td width="600" style="width: 600px; background-color: #402785; padding-left: 35px; padding-right: 35px; padding-top: 35px;">
        {% include '../../templates/text-template.twig' with {
            _style: 'font-family: Arial;font-style: normal;font-weight: normal;font-size: 32px;line-height: 44px;color: #FFFFFF;',
            _text: '«A more equal future is one where nobody is trapped in the circumstances of their birth, for reasons other than their own ability»'
        } %}
        </td></tr><tr>
        <td width="600" style="width: 600px; background-color: #402785;  padding-left: 35px; padding-right: 35px; padding-top: 20px; padding-bottom: 35px;">
        {% include '../../templates/text-template.twig' with {
            _style: 'height: 28px;font-family: Arial;font-style: normal;font-weight: normal;font-size: 18px;line-height: 28px;color: #FFFFFF;',
            _text: 'Thuli Madonsela'
        } %}
        </td>
      </tr>
    </tbody>
  </table>
</div>