<div data-bsi-element="text-link" class="link-blue">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="530" style="width:530px;">
    <tbody>
      <tr>
        <td width="530" style="{{ _style ? _style : 'margin-top: 0px; margin-bottom: 0px; margin-left: 0px;margin-right: 0px; padding-top: 20px;' }}" data-bsi-element-part="link">
          <a href="[TEXTLINK]" class="text-link" style="color: #7D67BA; padding-bottom: 5px; text-decoration: none;">{{ _text ? _text : 'Mehr erfahren' }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
