<div data-bsi-element="copyright" class="copyright" style="background-color: #402785; margin: 0px 0px 0px 0px;">
  <table border="0"
    cellpadding="0"
    cellspacing="0"
    align="center"
    width="100%" style="background-color: #402785; margin: 0px 0px 0px 0px;">
    <tbody>
      <tr>
        <td width="600" height="46" style="background-color: #402785; height: 46px; margin: 0px 0px 0px 0px;">
          <table border="0"
            cellpadding="0"
            cellspacing="0"
            align="center"
            width="100%">
            <tbody>
              <tr>
                <td width="600" align="center" height="46" style="width: 600px; max-width: 600px; margin: 0px 0px 0px 0px; background-color: #362773;">
                    <div align="center">
                      {% include '../../templates/text-template.twig' with {
                        _text: '© 2021 Julius Baer Foundation',
                        _context: 'copyright'
                      } %}
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>