<h2>
    <span style="font-weight: 700; font-family: Arial;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    background-color: #ffffff !important;" data-bsi-element-part="plain-text">Newsletter</span>
    <span style=" font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    background-color: #ffffff !important;" data-bsi-element-part="plain-text">2022</span>
</h2>
