<div style="margin:0px; padding:0px;">
  <img data-bsi-element-part="image" width="{{ _imageWidth }}" height="160" alt="" src="{{ _imageSrc ? : 'img/header.png' }}" style="width: 600px; height:160px;" />
</div>
