<span align="center" valign="middle" width="50px" height="50px" style="display: inline;">
  <span style="width:15px;padding-left:12px;">&nbsp;&nbsp;</span>
  <img data-bsi-element-part="image" src="{{ _imageSrc ? _imageSrc : _socialIcon }}" alt="{{ _imgAltTxt ? _imgAltTxt : '#' }}" border="0" width="50" height="50" style="width:50px;height:50px; border-radius: 50%;" />
  <span style="width:15px;padding-right:12px;">&nbsp;&nbsp;</span>
</span>
