<p data-bsi-element-part="plain-text" style="{{ _style ? _style : '' }} {{ _context ? 'color: #ffffff;' : '' }}">{{ _text ? _text : 'Hello world! Chocolate cake oat cake muffin icing powder toffee macaroon sugar
  plum.' }}</p>
