<div class="title-section-text">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="{{ _imageWidth }}" style="width: {{ _imageWidth }}px;">
    <tbody>
      <tr>
        <td width="{{ _imageWidth }}" style="padding-top: 10px;" data-bsi-element-part="formatted-text">
          <p>
            <strong style="font-weight: 700;">South Africa</strong> – In our first issue we focus on the most unequal country in the World.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
