<h3 data-bsi-element="h3-subtitle" style="margin-top: 10px;" data-bsi-element-part="formatted-text">
    <p style=" font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;">
        <strong style="font-weight: 700;">P. Rickenbacker</strong> – Editorial Storyline
    </p>
</h3>
