<div data-bsi-element="tag" class="tag-button">
  <table border="0" cellspacing="0" cellpadding="0" class="fullwidth" width="" style="display: block;">
    <tr align="left">
      <td height="25" colspan="3">
        <div style="display:block;">&nbsp;</div>
      </td>
    </tr>
    <tr align="left">
      <td style="-webkit-border-radius: 5px; -moz-border-radius: 5px;mso-border-alt: 8px solid #7D67BA; border-radius: 5px; box-shadow: 0px;" bgcolor="#7D67BA">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td height="34" width="10" style="padding-top: 0px; padding-bottom: 0px;">
              <div style="display:none;">&nbsp;</div>
            </td>
            <td align="left" height="34" style="padding-top: 0px; padding-bottom: 0px;">
              <div data-bsi-element-part="link" class="link-blue" style="line-height:22px;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF; mso-line-height-rule: exactly; display: block;">
                <a href="[TEXTLINK]">{{ _text ? _text : 'Podcast' }}</a>
              </div>
            </td>
            <td height="34" width="10" style="padding-top: 0px; padding-bottom: 0px;">
              <div style="display:none;">&nbsp;</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="15" colspan="3">
        <div style="display:block;">&nbsp;</div>
      </td>
    </tr>
  </table>
</div>
