<div data-bsi-element="button" style="margin-top:20px; margin-bottom: 10px;">
    <a data-bsi-element-part="link" href="[LINK1]" bgcolor="#7d67ba" style="background-color: #7d67ba; border-top: solid 5px #7d67ba;  border-left: solid 10px #7d67ba; border-right: solid 10px #7d67ba; mso-border-alt: 5px solid #7d67ba;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #ffffff; font-family: Arial;font-style: normal;font-weight: normal;font-size: 12px;line-height: 24px;text-align: center;letter-spacing: 1px;text-transform: uppercase;color: #f7f7f7;text-decoration:none; mso-line-height-rule: exactly; display: inline-block; box-shadow: 0px; border-bottom: 0px solid transparent;">Button Text</a>
</div>
