<div data-bsi-element="three-products">
    {# {% set bsiElement = { _isBsiElement: true } %}
    {% embed '../../layout-components/three-columns/template.twig' with { _column1: 'product1', _column2: 'product2', _column3: 'product3' } %}
        {% block column1 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
        {% block column2 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
        {% block column3 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
    {% endembed %}
    {% embed '../../layout-components/three-columns/template.twig' with { _column1: 'product4', _column2: 'product5', _column3: 'product6' } %}
        {% block column1 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
        {% block column2 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
        {% block column3 %}
            {% include '../../elements/text/template.twig' %}
        {% endblock %}
    {% endembed %} #}
</div>
