<div data-bsi-element="footer-links" class="footer-links" style="background-color: #402785;background:#402785;margin: 0px 0px 0px 0px;">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="600" style="width: 600px;">
        <tbody>
            <tr>
                <td width="600" style="background-color: #402785;background:#402785; padding-top: 50px; padding-bottom:23px;margin: 0px 0px 0px 0px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" style=" width: 530px;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 35px; padding-right: 35px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" style="border:0;">
                                        <tbody>
                                            <tr>
                                                <td width="530" style="padding-bottom: 10px;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" margin="0" style="border:0; width: 530px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="
                                                   vertical-align: top; 
                                                   " width="250">
                                                                    <div align="left" valign="top" style="width: 250px;border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;" data-bsi-dropzone="footercolumn1-dropzone">
                                                                        {% block footercolumn1 %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                        {% endblock %}
                                                                    </div>
                                                                </td>
                                                                <td width="35">
                                                                    <div align="left" valign="top" style="vertical-align: top; width: 20px; padding-top: 20px; border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;"></div>
                                                                </td>
                                                                <td style="
                                                   vertical-align: top; 
                                                   " width="250">
                                                                    <div align="left" valign="top" style="width: 250px; border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;" data-bsi-dropzone="footercolumn2-dropzone">
                                                                        {% block footercolumn2 %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                            {% include '../../elements/footer-links-item/template.twig' %}
                                                                        {% endblock %}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
