<div data-bsi-element="image-header" style="margin:0px; padding:0px;">
  <img data-bsi-element-part="image" width="600" height="160" alt="" src="{{ _imageSrc }}" style="width: 600px; height:160px;" />
</div>
