<div data-bsi-element="image-header" style="max-width:600px;width:100%; margin:0px; padding:0px;">
    <img width="600" data-bsi-element-part="image" alt="Main Image" src="{{ _imageSrc }}" style="width: 100%;max-width:600px !important;" />
</div>
