<div data-bsi-element="image-header" style="max-width:600px;width:100%; margin:0px; padding:0px;">
  <img data-bsi-element-part="image"   alt="" src="{{ _imageSrc }}" style="width: 100%;max-width:600px !important;" />
</div>
