<div class="divider-blue" data-bsi-hide-edit-button="true" data-bsi-element="divider">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="30" style="line-height:2px;">
    <tbody>
      <tr style="line-height:1px;">
        <td class="divider-style" height="1"></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </tbody>
  </table>
</div>
