<div data-bsi-element="article-section-white" class="header-image white-bg" style="background-color: #ffffff;">
   <table border="0" cellpadding="0" cellspacing="0" align="center" width="530px" style="background-color: #ffffff; width: 530px;">
      <tbody>
         <tr>
            <td width="530" style="background-color: #ffffff; width: 530px; padding-left: 35px; padding-right: 35px;  padding-bottom: 0px; padding-top: 0px;">
               <table border="0" cellpadding="0" cellspacing="0" width="530" align="center" style="background-color: #ffffff">
                  <tbody>
                     <tr>
                        <td style="background-color:#ffffff">
                           <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" style="
                              background-color: #ffffff">
                              <tbody>
                                 <tr>
                                    <td width="530" data-bsi-dropzone="article-section-white-dropzone"  style="padding-bottom: 10px;                   
                                       background-color: #ffffff">
                                       {% include '../../elements/spacer/template.twig'  %}
                                       {% include '../../elements/title-section/template.twig'  %}
                                       {% include '../../elements/image/template.twig' with {
                                       _imageSrc: _imageSrc,
                                      _imageWidth: "530"
                                    
                                       } %}
                                       {% include '../../elements/text-link/template.twig' with {
                                       _text: 'Learn more'
                                       } %}
                                       {% include '../../elements/spacer/template.twig'  %}
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
</div>