<table data-bsi-element="webview" border="0" cellpadding="0" cellspacing="0" align="center" width="600">
    <tbody>
        <tr>
            <td width="600" height="20" style="text-align:center;background:#ffffff; height: 20px;" align="center"></td>
        </tr>
        <tr>
            <td width="600" style="text-align:center;" data-bsi-element-part="link" align="center">
                <a target="_blank" class="webview" href="[WEBVIEW]" style="border-bottom: 0px solid transparent; margin-left:auto; margin-right: auto; padding: 0px; color: #6C6D70; text-decoration: none;">Webview</a>
            </td>
        </tr>
        <tr>
            <td width="600" height="20" style="background:#ffffff;text-align:center; height: 20px;" align="center"></td>
        </tr>
    </tbody>
</table>
