<div style="text-align: left;">
  {% include '../../templates/image-template.twig' with {
    _imageWidth: '250',
    _imageSrc: _imageSrc
  } %}
  {% include '../../templates/button-template.twig' %}
  {% include '../../templates/text-formatted-template.twig' %}
</div>