<h1 data-bsi-element="h1-title" data-bsi-element-part="plain-text" style="  font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    color: #402785;
    background-color: #ffffff !important;">Equality News</h1>
