<div data-bsi-element="title" class="white-bg" style="background-color: #ffffff;">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="530" style="width: 530px;">
        <tbody>
            <tr>
                <td width="530" style="background-color: #ffffff; padding-left:35px; padding-right:35px; width: 530px;">
                    {% include '../../templates/spacer-template.twig' %}
                    {% include '../../templates/h2-subtitle-template.twig' %}
                    {% include '../../templates/h1-title-template.twig' %}
                    {% include '../../templates/spacer-template.twig' %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
