<div data-bsi-element="article-section" style="background-color: #f6f6f6;">
    <table  border="0" cellpadding="0" cellspacing="0" width="530" align="center">
        <tbody>
            <tr>
                <td  style="padding-left: 35px; padding-right: 35px;background-color: #f6f6f6;">
                    <table  align="center" border="0" cellpadding="0" cellspacing="0" width="530" style="background-color: #f6f6f6;">
                        <tbody>
                            <tr>
                                <td  width="530" data-bsi-dropzone="article-section-dropzone"  style="padding-bottom: 10px; background-color: #f6f6f6;">
                                    {% include '../../elements/spacer-grey/template.twig' %}
                                    {% include '../../elements/h3-subtitle/template.twig' %}
                                    {% include '../../elements/text-formatted/template.twig' %}
                                    {% include '../../elements/image/template.twig' with {
                                      _imageWidth: "530"
                                    }%}
                                    {% include '../../elements/spacer-grey/template.twig' %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
